.hero {
  padding: 8em 4em;
}

h1 {
  margin: 0;
  font-size: 3em;
  margin-bottom: 0.1em;
}

h2 {
  margin: 0;
  margin-bottom: 0.4em;
  color: #515260;
}

a.icon {
  text-decoration: none;
  color: #515260;
}
