html {
  height: 100%;
}

body {
  font-family: Montserrat, Segoe UI, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 1em 4em;
  line-height: 1.75em;
  background: #f9f9f9;
  -webkit-box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  justify-content: space-between;
}

.container {
  padding: 1em 4em;
}

h1.logo a,
ul.navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #232430;
}

.nav-item {
  display: inline-block;
  margin-left: 1em;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.logo {
  font-size: 1.75em;
  margin: 0;
}

main {
  background: #efefef;
  height: auto;
  flex: 1;
}

footer {
  background: #1b1b1b;
  color: white;
  margin: 0;
  padding: 2em 4em;
  display: flex;
  justify-content: space-between;
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #c2c2c2;
}

.menu-toggle {
  padding: 0;
  margin: 0;
  display: none;
  color: #232430;
}

.card {
  padding: 2em;
  background: #efefef;
  margin: 1em 0;
  -moz-box-shadow: 0.2em 0.2em 0.2em 0.2em #ccc;
  -webkit-box-shadow: 0.2em 0.2em 0.2em 0.2em #ccc;
  box-shadow: 0.2em 0.2em 0.2em 0.2em #ccc;
}

.card h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 0.25em;
}

img.header-img {
  max-width: 100%;
  height: auto;
  width: auto;
}

input[type="button"],
input[type="submit"] {
  cursor: pointer;
  border: none;
  padding: 0.7em 1em;
}

a.button {
  text-decoration: none;
  padding: 0.7em 1em;
  background: black;
  color: white;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: auto;
}

a.github {
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 1em 2em;
    flex-direction: column;
  }

  .header {
    padding: 1em 2em;
    flex-direction: column;
  }

  .nav-item {
    margin: 0;
    display: none;
  }

  .menu-toggle {
    display: initial;
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
  }

  .nav-show {
    display: flex;
    margin-top: 1em;
  }

  .container {
    padding: 1em 2em;
  }

  .footer-end {
    line-height: 1.4em;
  }
}
