body {
  font-family: Montserrat, Segoe UI, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 4em;
  line-height: 1.75em;
  background: #f9f9f9;
  -webkit-box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

h1.logo a,
ul.navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #232430;
}

ul.navbar li {
  display: inline-block;
  margin-left: 1em;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.logo {
  font-size: 1.75em;
  margin: 0;
}

main {
  background: #efefef;
}

footer {
  background: #1b1b1b;
  color: white;
  margin: 0;
  padding: 1em 4em;
  display: flex;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: #c2c2c2;
}
