<footer class="text-gray-700 body-font">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <a
      class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
    >
      <span class="text-xl">jamielau</span>
    </a>
    <p
      class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      © 2020 Jamie Lau
    </p>
    <span
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start text-gray-500"
    >
      <a
        class="ml-3 hover:text-gray-800 transition duration-500 ease-in-out"
        href="{{ site.github }}"
      >
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a
        class="ml-3 hover:text-gray-800 transition duration-500 ease-in-out"
        href="{{ site.linkedin }}"
      >
        <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
      <a
        class="ml-3 border border-gray-500 rounded px-2 hover:text-gray-800 hover:border-gray-800 transition duration-500 ease-in-out"
        href="/static/uploads/Resume.pdf"
      >
        Resume
      </a>
    </span>
  </div>
</footer>
