---
layout: base-layout.hbs
title: Home
description: Hi, I'm Jamie and I'm a student and software developer.
pagination:
  data: collections.project
  size: 5
  alias: projects
---
<link rel="stylesheet" type="text/css" href="/css/index.css">
<div class="hero">
    <h1>Hi, my name is Jamie</h1>
    <h2>I'm a student with a passion for software development</h2>
    <a href="https://github.com/laujamie" class="icon" target="_blank" rel="noopener">
        <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://linkedin.com/in/laujamie5" class="icon" target="_blank" rel="noopener">
        <i class="fab fa-linkedin fa-2x"></i>
    </a>
</div>
<div class="projects">
    <h1 class="section-header">My Work</h1>
    {{#each projects as | project |}}
        <a class="card-link" href="{{project.url}}">
            <div class="card">
                <h1>{{project.data.title}}</h1>
                <h2>{{project.data.date}}</h2>
            </div>
        </a>
    {{/each}}
</div>
