---
layout: base-layout
---
<div class="container about">
    <h1 class="head">About Me</h1>
    <h2 class="section-header">Hi, my name is Jamie.</h2>
    {{{ content }}}
</div>
<link rel="stylesheet" type="text/css" href="/css/about.css">
