<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Jamie Lau</title>
    <meta name="description" content="{{description}}">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <h1 class="logo"><a href="/">Jamie Lau</a></h1>
        <div class="menu-toggle">
            <p style="margin: 0">Menu</p>
        </div>
        <ul class="navbar">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/contact-me">Contact Me</a></li>
        </ul>
    </header>
    <main>
        {{{ content }}}
    </main>
    <footer>
        <p>&#169; 2020 Jamie Lau</p>
        <p>Powered by <a href="https://11ty.dev" target="_blank" rel="noopener">Eleventy</a>.</p>
    </footer>    
</body>

<script src="https://kit.fontawesome.com/fe7d33d927.js" crossorigin="anonymous"></script>
<script>
    function toggle() {document.querySelectorAll('.nav-item').forEach(nav => nav.classList.toggle('nav-show'))}
    document.querySelector('div.menu-toggle').addEventListener('click', toggle)
</script>

</html>