<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Jamie Lau</title>
    <description>{{ description }}</description>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    {{!-- Navbar --}}
    <header>
        <ul class="navbar">
            <li><a href="/">Jamie Lau</a></li>
            <li></li>
        </ul>
    </header>
    <main>
        {{{ content }}}
    </main>
    <footer>

    </footer>
</body>

</html>