body {
  font-family: "Segoe UI";
}

main {
  padding: 4rem;
  height: 100%;

  &#home {
    overflow: hidden;

    .greeting {
      padding-top: 20vh;
    }
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    padding: 0.2rem 1rem;
  }
}

.headerLink:hover {
  text-decoration: none;
}

a.icon {
  color: #000000;

  &:hover {
    color: green;
  }
}
