@mixin easeOut {
  transition: all 0.4s ease-out;
}

#navbar {
  flex-grow: 1;
}

main {
  height: 100%;

  &#home {
    overflow: hidden;
  }
}

a.icon {
  color: #000000;

  &:hover {
    color: #ffc107;
    @include easeOut;
  }
}

h1,
h2 {
  &#greeting {
    display: inline;
  }
}

h2 {
  &#logo {
    font-size: 1.5rem;
  }
}

div {
  &#landing {
    height: 100vh;
  }

  &#greeting-grid {
    padding-top: 20vh;
  }

  &#home {
    margin: 0 0.5rem;
  }
}

form {
  &.contact {
    .MuiTextField-root {
      margin-bottom: 1vh;
    }

    .MuiButton-root {
      margin-right: 1vw;
    }
  }
}
