---
title: Page Not Found
permalink: 404.html
layout: layouts/base.njk
---

<section class="text-gray-700 body-font h-full">
    <div class="container mx-auto h-full flex flex-col items-center justify-center gap-6">
        <h2 class="text-3xl font-semibold">The page you requested couldn't be found.</h2>
        <a href="/" class="underline">Back to home</a>
    </div>
</section>