---
layout: layouts/base.njk
title: About Me
---

<section class="text-gray-700 body-font">
  <div class="container py-24 mx-auto flex flex-col">
    <div class="mx-auto">
      <h2 class="text-3xl font-semibold">About Me</h2>
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
            {% image "static/img/avatar.png", "Jamie avatar", "rounded-full" %}
          </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">
              Jamie Lau
            </h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
            <p class="text-base text-gray-600">Software Engineer</p>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-300 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center
            sm:text-left">
          <p class="leading-relaxed text-lg mb-4">
            I'm a software engineer with experience in full-stack web development, currently working at
            <a href="https://roundtrip.ai">Roundtrip</a>.
                                                    I have experience working in React, Golang, Java, Python, and PostgreSQL.
          </p>
          <a
            class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
            href="/contact-me">
            Contact Me
          </a>
        </div>
      </div>
    </div>
  </div>
</section>