---
layout: layouts/base.njk
title: Latest Projects
---

<section class="text-gray-700 body-font overflow-hidden">
  <div class="container py-24 mx-auto">
    <h2 class="text-3xl font-semibold mb-6 text-black">Projects</h2>
    <div class="-my-8">
      {% for post in collections.project | reverse %}
        <div class="py-8 flex flex-wrap md:flex-no-wrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="tracking-widest font-medium title-font text-gray-900 uppercase">
              <a href="{{ post.data.source }}">
                <i class="fab fa-github fa-lg"></i>
                Source
              </a>
            </span>
            <time class="mt-1 text-gray-500 text-sm" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-1">
              {{ post.data.title }}
            </h2>
            <h3 class="text-gray-700 text-sm">
              Technologies: {{ post.data.technologies | arrayToString }}
            </h3>
            <a class="text-sky-500 inline-flex items-center mt-2" href="{{ post.url | url }}">Learn More
              <svg
                class="w-4 h-4 ml-2"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>