<!DOCTYPE html>

<html lang="en">
  <head>
    {% if site.env %}
      <script src="https://cdn.counter.dev/script.js" data-id="84ae65c4-8127-4648-b3cd-d7d859b2141b" data-utcoffset="-4"></script>
    {% endif %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% if title %}{{ title }} | {{ site.title }}
      {% else %}{{ site.title }}
      {% endif %}
    </title>
    <meta name="description" content="{{ description or site.description }}"/>
    <link rel="canonical" href="{{ page.url | toAbsoluteUrl }}"/>
    <meta
      property="og:title"
      content="{% if title %}{{ title }} | {{ site.title }}{% else %}{{
        site.title
      }}{% endif %}"
/>
    <meta property="og:url" content="{{ page.url | toAbsoluteUrl }}"/>
    <meta
      property="og:description"
      content="{{ description or site.description }}"
/>
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
/>
    <script src="/js/alpine.js?v={% version %}" defer></script>
  </head>
  <body>
    {% include "header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}

    <script src="/assets/main.js"></script>

    <!-- Only inject this code for production builds -->
    {% if site.env %}
      <!-- Google Tag Manager (noscript) -->
      <noscript
      >
        <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-THGBFZW"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    >
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}
  </body>
</html>