---
layout: layouts/base.njk
---

<main>
  <div class="markdown container mx-auto p-5">
    <a class="text-sm" href="/blog"
      >
      <i class="fas fa-arrow-left mr-2"></i>Back to Blog</a
    >
    <h1 class="text-2xl font-semibold">{{ title }}</h1>
    <h2 class="text-sm text-gray-600">
      By {{ author }} | Last updated: {{ page.date.toDateString() }}
    </h2>
    {{ content | safe }}
  </div>
</main>