---
layout: base-layout
title: About Me
description: >-
    I'm a student studying Statistics and Computational Mathematics
    (double major) at the University of Waterloo.
    When I'm not working on schoolwork, I enjoy working on
    fun and interesting projects.
---
<div class="container about">
    <h1 class="head">About Me</h1>
    <h2 class="section-header">Hi, my name is Jamie.</h2>
    <p>I'm a student studying Statistics and Computational Mathematics 
       (double major) at the University of Waterloo. When I'm not working on schoolwork, 
       I enjoy working on fun and interesting projects. Currently, my current projects
       have been focused on developing full-stack applications.</p>
</div>
<link rel="stylesheet" type="text/css" href="/css/about.css">
