---
layout: base-layout.hbs
title: Contact Me
description: Contact form for reaching Jamie
---
<link rel="stylesheet" type="text/css" href="/css/contact.css">
<div class="container">
    <div class="card">
        <h1>Contact Me</h1>
        <p><strong>Note:</strong> JS implementation coming soon</p>
        <form autocomplete="off">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" placeholder="John Doe">
            <label for="email">Email</label>
            <input id="email" name="email" type="text" placeholder="email@example.com">
            <label for="message">Message</label>
            <input id="message" name="message" type="text" placeholder="Hey Jamie!">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
